KERNEL=="ttyACM[0-9]*", SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740",  SYMLINK+="myahrs", RUN+="/home/idsia/set_env.sh ahrs"